<div id="studentDashboard-component">

    <link rel="stylesheet" href="enrolledCourse.component.css">

    <div class="form-signin">

            <div class="list" id="student-dashboard">

                <h1 class="h3 mb-3 fw-normal" id="target-register">Register for new courses!</h1>
                <br/>

                <h4>CourseID:</h4>
                <p id="target-classID"></p>

                <h4>Course Name:</h4>
                <p id="target-coursename"></p>

                <h4>Teacher:</h4>
                <p id="target-teacher"></p>

                <h4>Username:</h4>
                <p id="target-username"></p>
    
                <h4>Open or Closed?</h4>
                <p id="is-target-open"></p>

                <br/>
                <button class="btn btn-primary" id="view-form-button">View opening courses</button>
                <button class="btn btn-primary" id="register-form-button">Register</button>
                <button class="btn btn-primary" id="check-form-button">Check your courses</button>

                <br/><hr/><br/>
    
                <table class="table" id="student-table">
                    <thead>
                    <th>Course ID</th>
                    <th>Course Name</th>
                    <th>Teacher</th>
                    <th>Username</th>
                    <th>Open</th>
                    <th>Cancel</th>

                    </thead>
                    <tbody id="course-table-body">
    
                    </tbody>
                </table>
    
            </div>        

        <p class="mt-5 mb-3 text-muted">&copy; 2017-2021</p>

    </div>

</div>