body {
    background-color:teal;
  }
div {
    background-color:rgba(135, 206, 250, 0.808);
    width: 70%;
    margin: 0 auto;
    text-align: center;
    border-radius: 1.5em;
    padding: 1.5em;
}
marquee {
    text-shadow: .07em .07em gray;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}
img {
    float:right;
}  
iframe {
    float:inline-start;
    margin-bottom: .7em;
}
#myTable {
    text-align: center;
    color:blueviolet;
    text-align: justify;
    border: .02em solid indigo;
    width: 40em;
    height: 20%;
}
th {
    border: .02em solid indigo;
    text-align: center;
}
td {
    text-align:center;
    border: .02em solid indigo;
}
ul {
    text-align: left;
    padding-left: 5%;
}
ol {
    text-align: left;
    padding-left: 5%;
}