<h1>Welcome to Course Update Services!</h1>
<div id="course-info-form">
    <h2>You are currently viewing course: <span id='target-course'></span></h2>
    <br/>

    <h4>Name:</h4>
    <input type="text" class="form-control" id="course-name">

    <h4>Description:</h4>
    <input type="text" class="form-control" id="course-desc">
    
    <h4>Open or Closed?</h4>
    <select class="form-select" aria-label="Default select example" id="open-selector">
        <option selected>Open</option>
        <option value="1">Closed</option>
    </select>

    <br/>
    <button class="btn btn-primary" id="update-course">Update this Course</button>
</div>