<div id="studentDashboard-component">

    <link rel="stylesheet" href="studentDashboard.component.css">

    <div class="form-signin">

            <div class="list" id="student-dashboard">

                <h1 class="h3 mb-3 fw-normal">Click the button to view all available courses</h1>
    
                <br/>
                <button class="btn btn-primary" id="dashboard-form-button">View</button>
                <br/><hr/><br/>
    
                <table class="table" id="student-table">
                    <thead>
                    <th>Course ID</th>
                    <th>Course Name</th>
                    <th>Description</th>
                    <th>Teacher</th>
                    <th>Open</th>
                    </thead>
                    <tbody id="student-table-body">
    
                    </tbody>
                </table>
    
            </div>        

        <p class="mt-5 mb-3 text-muted">&copy; 2017-2021</p>

    </div>

</div>