<div id="studentDashboard-component">

    <link rel="stylesheet" href="studentDashboard.component.css">

    <div class="form-signin">
        <h1 class="h3 mb-3 fw-normal">Please choose your option</h1>

        <div id="course-container" class="form-floating">
            <input type="text" class="form-control" id="login-form-course" placeholder="course">
            <h4 for="login-form-course">Would you like to view the available courses?</h4>
        </div>

        <div class="list" id="student-dashboard">    
            <button id="dashboard-form-button" class="w-100 btn btn-lg btn-primary" type="submit">View</button>
        </div>

        <div id="register-container" class="form-floating">
            <input type="text" class="form-control" id="login-form-register" placeholder="register">
            <h4 for="login-form-register">Would you like to register for a new course?</h4>
        </div>

        <div class="list" id="student-dashboard">    
            <button id="dashboard-form-button" class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
        </div>

        <div id="cancel-container" class="form-floating">
            <input type="text" class="form-control" id="login-form-cancel" placeholder="cancel">
            <h4 for="login-form-cancel">Would you like to cancel your course?</h4>
        </div>

        <div class="list" id="student-dashboard">    
            <button id="dashboard-form-button" class="w-100 btn btn-lg btn-primary" type="submit">Cancel</button>
        </div>

        <div id="enrolled-container" class="form-floating">
            <input type="text" class="form-control" id="login-form-enrolled" placeholder="enrolled">
            <h4 for="login-form-enrolled">Would you like to view your registered courses?</h4>
        </div>

        <div class="list" id="student-dashboard">    
            <button id="dashboard-form-button" class="w-100 btn btn-lg btn-primary" type="submit">Check</button>
        </div>

        <p class="mt-5 mb-3 text-muted">&copy; 2017-2021</p>

    </div>

    <div id="error-msg-container">
        <p hidden id="error-msg" class="alert alert-danger"></p>
    </div>

</div>